*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
background-color: black;
    color: wheat;
}
a{
    text-decoration: none;
color: maroon;
background-color: antiquewhite;
padding: 5px;
border-radius: 15px;
}
ul{
    text-align: end;
    list-style: none;
}
nav ul li{
    display: inline-block;
    border: 2px solid gray;
    border-radius: 15px;
    padding: 5px;
}
footer{
    border-top: 2px solid gray;
    text-align: center;
}
picture#logo img{
    display: block;
    float: left;
    max-width: 85px;
}
iframe{
    width: 100%;
    height: 65vh;
}
p{
    margin: 15px;
}