* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: black;
    color: wheat;
}

a {
    text-decoration: none;
    color: maroon;
    background-color: antiquewhite;
    padding: 3px;
    border-radius: 15px;
}

ul {
    text-align: end;
    list-style: none;
}

nav ul li {
    display: inline-block;
    border: 2px solid gray;
    border-radius: 15px;
    margin: 15px;
}

footer {
    border-top: 2px solid gray;
    text-align: center;
    margin-top: 5px;
}

picture#logo img {
    display: block;
    max-width: 85px;
}

iframe {
    width: 100%;
    height: 70vh;
}

h1, h2, p {
    padding: 10px;
}
picture#navMenu img {
    max-width: 35px;
}
nav {
    display: flex;
    align-items: center;
    justify-content: center;
}